*[v-cloak] {display: none;}

body::-webkit-scrollbar{width: 7px;height:7px;}
body::-webkit-scrollbar-track {background:#eee;}
body::-webkit-scrollbar-thumb {background:#666;}
body::-webkit-scrollbar-thumb:hover {background:#551;}

body{ margin:20px; }
body #editor_div{ border:1px solid #ccc; outline:none; }

#editor_controlls *{ font-family:arial; font-size:12px; color:black; }

.editor_popup{ position: absolute; border: 1px solid #bbb; box-shadow: 1px 2px 2px #666; z-index: 500; background-color:white; }
.editor_popup2{ position: absolute; border: 1px solid #333; box-shadow: 1px 2px 2px #666; z-index: 500; padding: 10px; background-color:white; }
.vm_settings_panel{ position: fixed; border: 1px solid #bbb; box-shadow: 1px 2px 2px #666; z-index: 500; background-color:white; }
.vm_settings_panel a{ background-color: #f0f0f0; text-decoration: none; border:1px solid #aaa; padding:0px 3px; }
.vm_settings_panel a:hover{ background-color: #eee; border:1px solid #999; }

.vmttt{ position:absolute; z-index:401; top:100px; left:100px; width:300px; height:300px;outline:2px solid rgba(155,55,55,0.5);pointer-events:none; }
.vmtip{ position:absolute; z-index:401; right:0px; top:-20px; height:20px; background-color: rgb(155,55,55,0.5); cursor: help; min-width:20px; text-align: center; color: white; font-weight: bold; font-size:10px; padding: 0px 5px; cursor:help; line-height:20px; overflow:hidden; }

.vmtt2{ position:absolute; z-index:401; top:100px; left:100px; height:5px; background-color:rgb(155,155,155,0.2); cursor:pointer; }
.vmtt2:hover{ }
.vmtt2_sub{ width:100%; height:10px; margin-top:-3px; text-align:center; cursor:pointer; display:none; }
.vmtt2_sub2{ width:100%; height:2px; margin-top:2px; text-align:center; cursor:pointer; background-color:rgb(155,155,155,0.2); }
.vmtt2:hover .vmtt2_sub{ height:10px; background-color:rgba(155,155,155,0.2); display:block; }
.vmtt2_sub svg{color:orange !important; margin-top:-5px}
.vmtt22{ position:absolute; z-index:401; outline:2px solid rgba(155,155,155,0.5); pointer-events:none; }
.vmtip22{ position:absolute; z-index:400; right:0px; top:-20px; height:20px; background-color: rgb(155,155,155,0.5); cursor: help; min-width:20px; text-align: center; color: white; font-weight: bold; font-size:10px; padding: 0px 5px; cursor:help; line-height:20px; overflow:hidden; }

.vm{ position: absolute; z-index:401; background-color: rgba(255,0,0,0.5); opacity:0.3; }
.vm > div{ position: absolute; }
.vm > div > div{ position: absolute; background-color: rgba(255,0,0,0.5); padding: 2px; width: 20px; height: 20px; vertical-align: middle;line-height: 14px; text-align: center; font-weight: bold; color: white; cursor: pointer; }
#vml > div{ height: 100%; }
#vmr > div{ height: 100%; }
#vmt > div{ width: 100%; margin-top:-20px; }
#vmb > div{ width: 100%; }
#vml > div > div{ margin-left: -20px;top:30%; }
#vmr > div > div{ margin-right: -20px;top:30%; }
#vmt > div > div{ margin-left: 35%; }
#vmb > div > div{ margin-left: 35%; }

.vm:hover{opacity: 0.8}
.vmover{opacity: 0.7}
.vmm:hover div{display: block;}
.vm .tip{ display: none; position: absolute; width: 100%; z-index:401;  }
.vm .tip div{float: right; margin-top: -20px;background-color: rgb(255,0,0);padding: 2px; height: 20px; }
.vm:hover .tip{display: block;}

.add_menu{ position: absolute; z-index: 404;  padding: 5px; width: 150px; color: white; cursor: pointer; }
.add_menu .add_menu_submenu{position: absolute; z-index: 405; background-color: rgb(255,200,200); box-shadow: 2px 2px 10px #aaa; border: 1px solid red; width: 150px; cursor: pointer; }
.add_menu .add_menu_submenu div{cursor: pointer;display: block; color: black!important; font-weight: 500; padding: 0px 3px;}
.add_menu .add_menu_submenu div:hover{ background-color: rgb(255,50,50); }

.anchor_menu{ position: absolute; z-index: 404; background-color: white; box-shadow: 3px 3px 20px #999; border: 1px solid #555; padding: 10px; }
.link_suggest{position: absolute; padding: 2px; min-width: 300px; max-width: 600px; max-height: 300px; overflow: auto; z-index: 501; background-color: white; box-shadow: 2px 2px 4px #666; border: 1px solid #333;}
.link_suggest div {border-bottom: 1px solid #bbb; padding: 2px; cursor: pointer; white-space: nowrap;}
.link_suggest div.link_suggest_select {background-color: #ffcefe;}
.link_suggest div:hover {background-color: #ffcefe;}
.link_suggest div span span{color: red;}
.link_suggest div span:nth-child(1) {font-weight: 600;}
.link_suggest div span:nth-child(2) {font-style: italic; font-weight: bold; color: #aaa;}
.link_suggest div span:nth-child(3) {color: maroon;}
.image_inline_menu{ position: absolute; z-index: 404; background-color: white; box-shadow: 3px 3px 5px black; padding: 10px; }
.image_inline_menu a{ text-decoration: none; }

.td_add_menu{ position: absolute; z-index: 404; background-color: rgba(255,0,0,0.5); padding: 2px; width: 200px; color: white; cursor: pointer; }
.td_add_menu .td_add_menu_submenu{ position: absolute; z-index: 405; background-color: rgb(255,100,100); padding: 2px; width: 200px; color: white; cursor: pointer; }
.td_add_menu .td_add_menu_submenu div{cursor: pointer;display: block;}
.td_add_menu .td_add_menu_submenu div:hover{ background-color: rgb(255,50,50); }

.td_cell_delete_menu{ position: absolute ; z-index: 404; background-color: rgba(255,0,0,0.5); padding: 2px; width: 200px; color: white; cursor: pointer; }
.td_cell_delete_menu .td_cell_delete_submenu{position: absolute; z-index: 405; background-color: rgb(255,100,100); padding: 2px; width: 200px; color: white; cursor: pointer; }
.td_cell_delete_menu .td_cell_delete_submenu div{cursor: pointer;display: block;}
.td_cell_delete_menu .td_cell_delete_submenu div:hover{ background-color: rgb(255,50,50); }

.image_popup{ position: fixed; min-width: 800px; max-width: 90%; top: 50px; left: 50px; height: calc( 100% - 100px ); z-index: 404; background-color: white; border: 1px solid #666; box-shadow: 2px 2px 5px black; border-radius:5px; }
.image_popup_back{ position: fixed; width:100%; height: 100%; background-color: rgba(0,0,0,0.5); top: 0px; left: 0px; z-index: 403; }
.image_popup_head{ border-bottom: 1px solid #333; padding: 10px 20px; border-top-left-radius:5px;border-top-right-radius:5px; }
.image_popup_head span{ font-weight: bold; }
.image_popup_cls_btn {float: right; cursor: pointer; border-top: 1px solid #ccc;}
.image_popup_cls_btn:hover{ color:red; }
.image_popup_content{ height: calc( 100% - 35px); overflow: auto; padding: 10px; border-radius:5px; }
.image_popup_tab{ display: inline-block; padding: 0px 5px; margin-right:5px; border: 1px solid #ccc; cursor: pointer; border-bottom:5px solid #ccc; }
.image_popup_tab:hover{ background-color: #ffe9d1; }
.image_popup_tab.active{ border-bottom:5px solid orange; }

.image_crop_popup{ position: fixed; min-width: 500px; max-width: 90%; top: 50px; left: 50px; height: calc( 100% - 100px ); z-index: 404; background-color: white; border: 1px solid #666; box-shadow: 2px 2px 5px black; border-radius:5px; }


.settings_menu{position: absolute; z-index: 404; background-color: rgb(255,0,0); padding: 2px; width: 60px; color: white; cursor: pointer; }
.vvvsettings_menu div{ position: absolute; background-color: rgba(255,0,0,0.5); padding: 2px; right: -50px; width: 50px; height: 20px; vertical-align: middle;line-height: 17px; text-align: center; font-weight: bold; color: white; cursor: pointer; }
.vvvsettings_menu:hover div{display: block;}

.settings_menu_btn{ padding: 0px 2px; margin-bottom: 5px; font-size: 0.7rem; border: 1px solid #eee; border-radius: 3px; cursor: pointer; float: left; }
.settings_menu_btn:hover{ background-color: #ccc; }

.pre_edit_popup{ position: absolute; background-color: white; border: 2px solid #e0e0e0; padding: 10px; box-shadow: 3px 3px 3px #666; z-index: 500; }
.pre_edit_popup textarea{ height: calc( 100% - 50px ); }

.attachment_popup{ position: fixed; top: 200px; left:200px; border-radius: 1px solid #ccc; box-shadow: 2px 2px 5px black; z-index: 500; background-color: white; }

.contextmenu{ position: absolute; background-color: white; border: 1px solid #999; box-shadow: 2px 2px 5px #666; padding: 5px; z-index: 400; white-space: nowrap; }
.contextmenu_btn { cursor: pointer; border:1px solid #aaa; }
.contextmenu_btn:hover { background-color: #ccc; }
.contextmenu_submenu{ position: absolute; background-color: white;border: 1px solid #999; box-shadow: 2px 2px 5px #666; padding: 5px; z-index: 402;  }
.contextmenu a{ background-color: #f0f0f0; text-decoration: none; border:1px solid #aaa; padding:0px 3px; }
.contextmenu a:hover{ background-color: #eee; border:1px solid #999; }

ul{ padding-bottom: 10px; }
a:empty:before {content: '       ';white-space: pre;}
p:empty:before {content: ' ';white-space: pre;}
div:empty:before {content: ' ';white-space: pre;}
span:empty:before {content: ' ';white-space: pre;}
h1:empty:before {content: ' ';white-space: pre;}
h2:empty:before {content: ' ';white-space: pre;}
h3:empty:before {content: ' ';white-space: pre;}
h4:empty:before {content: ' ';white-space: pre;}
pre:empty:before {content: ' ';white-space: pre;}
li:empty:before {content: ' ';white-space: pre;}
td:empty:before {content: ' ';white-space: pre;}
th:empty:before {content: ' ';white-space: pre;}
