<div class="leftbar_scroll" style="overflow: auto; height:calc( 100% - 40px ); padding:5px; ">

	<div class="mb-1">
		<!-- <div class="btn btn-outline-dark btn-sm" v-on:click="insert_tag_initiate" >+</div> -->
		<div v-if="focused_type" class="btn btn-outline-dark btn-sm" v-on:click="edit_tag_initiate" >Edit Tag</div>
	</div>
	<div v-if="focused_tree.length>0" class="mb-1">
		<!--
		<div v-if="focused_tree.length>5" class="tag_btn" >{{ focused_tree[5]['a'] }}</div>
		<div v-if="focused_tree.length>4" class="tag_btn" >{{ focused_tree[4]['a'] }}</div>
		<div v-if="focused_tree.length>3" class="tag_btn" >{{ focused_tree[3]['a'] }}</div>
		-->
		<div v-if="focused_tree.length>2" class="tag_btn" v-on:click="set_focus_to(2)" >{{ focused_tree[2]['a'] }}</div>
		<div v-if="focused_tree.length>1" class="tag_btn" v-on:click="set_focus_to(1)" >{{ focused_tree[1]['a'] }}</div>
		<div v-if="focused_tree.length>0" class="tag_btn tag_btn_a" >{{ focused_tree[0]['a'] }}</div>
	</div>
	<div v-if="focused_type"  >
		<div v-if="focused_type=='A'" class="mb-1" >
			<input type="button" class="btn btn-outline-danger btn-sm" value="Remove Link" v-on:click.prevent.stop="anchor_remove" >
		</div>
	</div>
		<div data-id="editor-popup" tabindex="0" class='editor_toolbar' >
			<div v-if="sections_list.length>0" v-on:click.stop.prevent="" >
				Selection
			</div>
			<div v-else-if="focused_block_type=='IMAGE'" >
				<div style="white-space: nowrap;">IMAGE: <a href="remove" v-on:click.prevent.stop="image_action('edit')" >Edit or Change</a> | <a href="remove" v-on:click.prevent.stop="image_action('remove')" >Delete Image</a></div>
				<div style="white-space: nowrap; font-size:0.8rem;">Align:
					<span v-if="image_inline_mode=='default'" >Default</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('align','default')" >Default</a> |
					<span v-if="image_inline_mode=='left'" >Left</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('align','left')" >Left</a> |
					<span v-if="image_inline_mode=='right'" >Right</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('align','right')" >Right</a>
				</div>
				<div v-if="image_inline_mode=='default'" style="white-space: nowrap; font-size:0.8rem;">Size:
					<span v-if="image_inline_size=='large'" >Large</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('size','large')" >Large</a> |
					<span v-if="image_inline_size=='medium'" >Medium</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('size','medium')" >Medium</a> |
					<span v-if="image_inline_size=='small'" >Small</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('size','small')" >Small</a> |
					<span v-if="image_inline_size=='thumb'" >Thumb</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('size','thumb')" >Thumb</a>
				</div>
				<div v-else style="white-space: nowrap; font-size:0.8rem;">Size:
					<span v-if="image_inline_sizef=='medium'" >Medium</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('sizef','medium')" >Medium</a> |
					<span v-if="image_inline_sizef=='small'" >Small</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('sizef','small')" >Small</a> |
					<span v-if="image_inline_sizef=='thumb'" >Thumb</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('sizef','thumb')" >Thumb</a>
				</div>
				<div style="white-space: nowrap; font-size:0.8rem;">Caption:
					<span v-if="image_inline_caption=='yes'" >Show</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('caption','yes')" >Show</a> |
					<span v-if="image_inline_caption=='no'" >Hide</span>
					<a v-else   href="remove" v-on:click.prevent.stop="image_action('caption','no')" >Hide</a> |
				</div>

				<div><a href="remove" v-on:click.prevent.stop="focused_img_block_to_inline" >Convert to In-Line Image</a></div>
			</div>
			<div v-else-if="focused_img" >
				Image <a href="remove" v-on:click.prevent.stop="focused_img_to_block" >Convert to Image Block</a>
				<div><input type="text" placeholder="Image URL" style="min-width:300px;" v-model="image_url" ><input type="button" style="padding: 2px;" value="Set"  v-on:click.stop.prevent="update_focused_img" ><input type="button" style="padding: 2px;color:red;" value="X" v-on:click.stop.prevent="delete_focused_img" ></div>
			</div>
			<div v-else-if="focused_block_type=='QUOTE'" v-on:click.stop.prevent="block_to_paragraph" style="cursor: pointer; border: 1px solid #ccc;margin-right: 10px;" >
				Change to text
			</div>
			<div v-else-if="focused_block_type=='NOTE'" v-on:click.stop.prevent="block_to_paragraph" style="cursor: pointer; border: 1px solid #ccc;margin-right: 10px;" >
				Change to text
			</div>
			<div v-else-if="focused_block_type=='TABLE'" style="cursor: pointer; border: 1px solid #ccc;margin-right: 10px;" >
				TABLE
			</div>
			<div v-else-if="focused_block_type=='PRE'" style="cursor: pointer; border: 1px solid #ccc;margin-right: 10px;" >
				Code
			</div>
			<div v-else-if="focused_block_type" style="cursor: pointer; border: 1px solid #ccc;margin-right: 10px;" >
				<span style="font-size:10px; color:gray;" >Unknown block type {{ focused_block_type }}</span>
			</div>
			<div v-else-if="focused_type=='LI'||focused_type=='TD'" v-on:click.stop.prevent="text_to_paragraph" style="cursor: pointer; border: 1px solid #ccc; " >
				Text to P
			</div>
			<div v-else-if="focused_block_type=='PRE'||focused_type=='PRE'" style="cursor: pointer; border: 1px solid #ccc;" >
				Pre-Formated Text
			</div>
			<div href="doit" v-if="(focused_li||focused_td)&&focused_type!='LI'&&focused_type!='TD'"  v-on:click.stop.prevent="paragraph_to_text" style="cursor:pointer; border: 1px solid #ccc;" >
				{{ focused_type }} to text
			</div>

			<template v-if="focused_block_type=='NOTE'" class="mb-1">
				<div style="">Note style:
				<select v-model="notetype" v-on:change.prevent.stop="notetype_change" v-on:click.stop>
					<option v-for="v,i in note_types" v-bind:value="i" >{{ v }}</option>
				</select>
				</div>
			</template>
			<template v-if="focused_block_type=='QUOTE'" >
				<div style="">Quote style:
				<select v-model="quotetype" v-on:change.prevent.stop="quotetype_change" v-on:click.stop>
					<option value="block_quote_small"	>Small</option>
					<option value="block_quote_medium"	>Medium</option>
					<option value="block_quote_big"	>Big</option>
				</select>
				</div>
			</template>

			<div v-if="focused_type!='PRE'&&focused_block_type!='IMAGE'&&focused_block_type!='PRE'&&focused_img==false" >
				<div class="editor_toolbar_group" data-alloy-tabstop="true" role="toolbar" tabindex="-1" title="" >
					<button class="satish-tbtn" tabindex="-1" title="Bold" type="button" v-on:click.stop.prevent="make_bold">
						<span class="satish-icon satish-tbtn__icon-wrap"><svg height="24" width="24"><path d="M7.8 19c-.3 0-.5 0-.6-.2l-.2-.5V5.7c0-.2 0-.4.2-.5l.6-.2h5c1.5 0 2.7.3 3.5 1 .7.6 1.1 1.4 1.1 2.5a3 3 0 0 1-.6 1.9c-.4.6-1 1-1.6 1.2.4.1.9.3 1.3.6s.8.7 1 1.2c.4.4.5 1 .5 1.6 0 1.3-.4 2.3-1.3 3-.8.7-2.1 1-3.8 1H7.8zm5-8.3c.6 0 1.2-.1 1.6-.5.4-.3.6-.7.6-1.3 0-1.1-.8-1.7-2.3-1.7H9.3v3.5h3.4zm.5 6c.7 0 1.3-.1 1.7-.4.4-.4.6-.9.6-1.5s-.2-1-.7-1.4c-.4-.3-1-.4-2-.4H9.4v3.8h4z" fill-rule="evenodd"/></svg></span>
					</button>
					<button class="satish-tbtn" tabindex="-1" title="Italic" type="button" v-on:click.stop.prevent="make_italic">
						<span class="satish-icon satish-tbtn__icon-wrap"><svg height="24" width="24"><path d="M16.7 4.7l-.1.9h-.3c-.6 0-1 0-1.4.3-.3.3-.4.6-.5 1.1l-2.1 9.8v.6c0 .5.4.8 1.4.8h.2l-.2.8H8l.2-.8h.2c1.1 0 1.8-.5 2-1.5l2-9.8.1-.5c0-.6-.4-.8-1.4-.8h-.3l.2-.9h5.8z" fill-rule="evenodd"/></svg></span>
					</button>
				</div>
				<div class="editor_toolbar_group" data-alloy-tabstop="true" role="toolbar" tabindex="-1" title="" >
					<button class="satish-tbtn" tabindex="-1" title="Insert/edit link" type="button" v-on:click.stop.prevent="make_link">
						<span class="satish-icon satish-tbtn__icon-wrap"><svg height="24" width="24"><path d="M6.2 12.3a1 1 0 0 1 1.4 1.4l-2.1 2a2 2 0 1 0 2.7 2.8l4.8-4.8a1 1 0 0 0 0-1.4 1 1 0 1 1 1.4-1.3 2.9 2.9 0 0 1 0 4L9.6 20a3.9 3.9 0 0 1-5.5-5.5l2-2zm11.6-.6a1 1 0 0 1-1.4-1.4l2-2a2 2 0 1 0-2.6-2.8L11 10.3a1 1 0 0 0 0 1.4A1 1 0 1 1 9.6 13a2.9 2.9 0 0 1 0-4L14.4 4a3.9 3.9 0 0 1 5.5 5.5l-2 2z" fill-rule="nonzero"/></svg></span>
					</button>
				</div>
				<div class="editor_toolbar_group" data-alloy-tabstop="true" role="toolbar" tabindex="-1" title="" >
					<button class="satish-tbtn" tabindex="-1" title="Numbered list" v-on:click.stop.prevent="make_ol" >
						<span class="satish-icon satish-tbtn__icon-wrap"><svg height="24" width="24"><path d="M10 17h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2zm0-6h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2zm0-6h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 1 1 0-2zM6 4v3.5c0 .3-.2.5-.5.5a.5.5 0 0 1-.5-.5V5h-.5a.5.5 0 0 1 0-1H6zm-1 8.8l.2.2h1.3c.3 0 .5.2.5.5s-.2.5-.5.5H4.9a1 1 0 0 1-.9-1V13c0-.4.3-.8.6-1l1.2-.4.2-.3a.2.2 0 0 0-.2-.2H4.5a.5.5 0 0 1-.5-.5c0-.3.2-.5.5-.5h1.6c.5 0 .9.4.9 1v.1c0 .4-.3.8-.6 1l-1.2.4-.2.3zM7 17v2c0 .6-.4 1-1 1H4.5a.5.5 0 0 1 0-1h1.2c.2 0 .3-.1.3-.3 0-.2-.1-.3-.3-.3H4.4a.4.4 0 1 1 0-.8h1.3c.2 0 .3-.1.3-.3 0-.2-.1-.3-.3-.3H4.5a.5.5 0 1 1 0-1H6c.6 0 1 .4 1 1z" fill-rule="evenodd"/></svg></span>
					</button>
					<button class="satish-tbtn" tabindex="-1" title="Bullet list"  v-on:click.stop.prevent="make_ul" >
						<span class="satish-icon satish-tbtn__icon-wrap"><svg height="24" width="24"><path d="M11 5h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2zm0 6h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2zm0 6h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2zM4.5 6c0-.4.1-.8.4-1 .3-.4.7-.5 1.1-.5.4 0 .8.1 1 .4.4.3.5.7.5 1.1 0 .4-.1.8-.4 1-.3.4-.7.5-1.1.5-.4 0-.8-.1-1-.4-.4-.3-.5-.7-.5-1.1zm0 6c0-.4.1-.8.4-1 .3-.4.7-.5 1.1-.5.4 0 .8.1 1 .4.4.3.5.7.5 1.1 0 .4-.1.8-.4 1-.3.4-.7.5-1.1.5-.4 0-.8-.1-1-.4-.4-.3-.5-.7-.5-1.1zm0 6c0-.4.1-.8.4-1 .3-.4.7-.5 1.1-.5.4 0 .8.1 1 .4.4.3.5.7.5 1.1 0 .4-.1.8-.4 1-.3.4-.7.5-1.1.5-.4 0-.8-.1-1-.4-.4-.3-.5-.7-.5-1.1z" fill-rule="evenodd"/></svg></span>
					</button>
					<button class="satish-tbtn" tabindex="-1" title="Decrease indent" type="button" v-on:click.stop.prevent="make_unindent" v-if="sections_is_all_lis||focused_li">
						<span class="satish-icon satish-tbtn__icon-wrap"><svg height="24" width="24"><path d="M7 5h12c.6 0 1 .4 1 1s-.4 1-1 1H7a1 1 0 1 1 0-2zm5 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2zm0 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2zm-5 4h12a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2zm1.6-3.8a1 1 0 0 1-1.2 1.6l-3-2a1 1 0 0 1 0-1.6l3-2a1 1 0 0 1 1.2 1.6L6.8 12l1.8 1.2z" fill-rule="evenodd"/></svg></span>
					</button>
					<button class="satish-tbtn" tabindex="-1" title="Increase indent" type="button" v-on:click.stop.prevent="make_indent" v-if="sections_is_all_lis||focused_li">
						<span class="satish-icon satish-tbtn__icon-wrap"><svg height="24" width="24"><path d="M7 5h12c.6 0 1 .4 1 1s-.4 1-1 1H7a1 1 0 1 1 0-2zm5 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2zm0 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2zm-5 4h12a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2zm-2.6-3.8L6.2 12l-1.8-1.2a1 1 0 0 1 1.2-1.6l3 2a1 1 0 0 1 0 1.6l-3 2a1 1 0 1 1-1.2-1.6z" fill-rule="evenodd"/></svg></span>
					</button>
				</div>
				<div class="editor_toolbar_group" data-alloy-tabstop="true" role="toolbar" tabindex="-1" title="">
					<button class="satish-tbtn" tabindex="-1" title="Clear formatting" type="button" v-on:click.stop.prevent="make_clear">
						<span class="satish-icon satish-tbtn__icon-wrap">
							<svg height="24" width="24"><path d="M13.2 6a1 1 0 0 1 0 .2l-2.6 10a1 1 0 0 1-1 .8h-.2a.8.8 0 0 1-.8-1l2.6-10H8a1 1 0 1 1 0-2h9a1 1 0 0 1 0 2h-3.8zM5 18h7a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2zm13 1.5L16.5 18 15 19.5a.7.7 0 0 1-1-1l1.5-1.5-1.5-1.5a.7.7 0 0 1 1-1l1.5 1.5 1.5-1.5a.7.7 0 0 1 1 1L17.5 17l1.5 1.5a.7.7 0 0 1-1 1z" fill-rule="evenodd"/></svg>
						</span>
					</button>
				</div>
			</div>

			<div v-if="focused_li" >
				<div><a href="doit" v-on:click.prevent.stop="ul_change_to_text" class="btn btn-outline-secondary btn-sm" >List to Text</a></div>
				<select v-model="ul_type" v-on:change="ul_type_change" class="form-select form-select-sm">
					<option v-for="v,i in ul_types" v-bind:value="i" >{{ i }}</option>
				</select>
			</div>
		</div>

		<div data-id="editor-popup" tabindex="0" v-on:click.stop.prevent v-on:mousemove.stop v-on:mouseover.stop v-on:keydown.stop v-on:keypress.stop v-on:keyup.stop >
			<div class="table_settings">
				<div v-if="td_sel_cnt>1" class="mt-2" >
					<div><b>Table Cells:</b></div>
					<div><a href="delete" title="Delte Cells" v-on:click.prevent.stop="td_del_cells" >Delete Cells</a></div>
					<div><a href="delete" title="Delete Rows" v-on:click.prevent.stop="tdsel_delete_rows" >Delete Rows</a></div>
					<div><a href="delete" title="Delete Columns" v-on:click.prevent.stop="tdsel_delete_cols" >Delete Columns</a></div>
					<div><a href="copy" title="Copy table selection" v-on:click.prevent.stop="tdsel_copy_cells" >Copy Cells</a></div>
					<div><a href="copy" title="Copy table selection" v-on:click.prevent.stop="tdsel_copy_col_left" >Copy Column to Left</a></div>
					<div><a href="copy" title="Copy table selection" v-on:click.prevent.stop="tdsel_copy_col_right" >Copy Column to Right</a></div>
					<div><a href="copy" title="Copy table selection" v-on:click.prevent.stop="tdsel_copy_row_top" >Copy Rows to Top</a></div>
					<div><a href="copy" title="Copy table selection" v-on:click.prevent.stop="tdsel_copy_row_bottom" >Copy Rows to Bottom</a></div>
				</div>
				<div v-else-if="focused_td" class="mt-2" >
					<div><b>Table Cell:</b></div>
					<div><a href="settings" v-on:click.stop.prevent="create_new_td('tdt')" >Insert Row Above</a></div>
					<div><a href="settings" v-on:click.stop.prevent="create_new_td('tdb')" >Insert Row Below</a></div>
					<div><a href="settings" v-on:click.stop.prevent="create_new_td('tdl')" >Insert Column Left</a></div>
					<div><a href="settings" v-on:click.stop.prevent="create_new_td('tdr')" >Insert Column Right</a></div>
					<div><a href="settings" v-on:click.stop.prevent="td_delete_column" >Delete Column</a></div>
					<div><a href="settings" v-on:click.stop.prevent="td_delete_row" >Delete Row</a></div>
					<div><a href="settings" v-on:click.stop.prevent="table_split" >Split Table</a></div>
					<div><a href="settings" v-on:click.stop.prevent="table_delete" >Delete Table</a></div>
					<div><b>Column Settings:</b></div>
					<div>Width: <select v-on:change="td_setting_wt_change" v-model="td_settings['wt']"><option value="a">Auto</option><option value="s">Specific</option></select></div>
					<div v-if="td_settings['wt']=='s'"><input v-model="td_settings['v']" type="number" style="width:80px;" v-on:change="td_setting_change2" > <select v-model="td_settings['u']" v-on:change="td_setting_change1"><option value="px">px</option><option value="%">%</option></select></div>
					<div>Align: <select v-on:change="td_setting_wt_change" v-model="td_settings['align']"><option value="none">None</option><option value="left">Left</option><option value="center">Center</option><option value="right">Right</option></select></div>
					<div>Wrap: <select v-on:change="td_setting_wt_change" v-model="td_settings['wrap']"><option value="yes">Yes</option><option value="no">No</option><option v-if="td_settings['wt']=='s'" value="hide">Hide</option></select></div>
					<div><b>Row:</b></div>
					<div><a href="settings" v-on:click.stop.prevent="tr_copy('t')">Clone to Above</a></div>
					<div><a href="settings" v-on:click.stop.prevent="tr_copy('b')">Clone to Below</a></div>
					<div><b>Table Settings:</b></div>
					<div>Width:
						<span v-if="table_settings['width']=='auto'" >Auto</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('width','auto')" >Auto</a> |
						<span v-if="table_settings['width']=='full'" >Full</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('width','full')" >Full</a>
					</div>
					<div>Border:
						<span v-if="table_settings['border']=='a'" >A</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('border','a')" >A</a> |
						<span v-if="table_settings['border']=='b'" >B</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('border','b')" >B</a> |
						<span v-if="table_settings['border']=='c'" >C</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('border','c')" >C</a>
					</div>
					<div>Striped:
						<span v-if="table_settings['striped']=='yes'" >Yes</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('striped','yes')" >Yes</a> |
						<span v-if="table_settings['striped']=='no'" >No</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('striped','no')" >No</a>
					</div>
					<div>Hover:
						<span v-if="table_settings['hover']=='yes'" >Yes</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('hover','yes')" >Yes</a> |
						<span v-if="table_settings['hover']=='no'" >No</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('hover','no')" >No</a>
					</div>
					<div>Spacing:
						<span v-if="table_settings['spacing']=='1'" >1</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('spacing','1')" >1</a> |
						<span v-if="table_settings['spacing']=='2'" >2</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('spacing','2')" >2</a> |
						<span v-if="table_settings['spacing']=='3'" >3</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('spacing','3')" >3</a>
					</div>
					<div style="white-space: nowrap; font-size:0.8rem;">Header:
						<span v-if="table_settings['header']=='yes'" >Yes</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('header','yes')" >Yes</a> |
						<span v-if="table_settings['header']=='no'" >No</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('header','no')" >No</a>
					</div>
					<div style="white-space: nowrap; font-size:0.8rem;">Column Header:
						<span v-if="table_settings['colheader']=='yes'" >Yes</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('colheader','yes')" >Yes</a> |
						<span v-if="table_settings['colheader']=='no'" >No</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('colheader','no')" >No</a>
					</div>
					<div>Theme:
						<span v-if="table_settings['theme']=='none'" >none</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('theme','none')" >none</a> |
						<span v-if="table_settings['theme']=='one'" >one</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('theme','one')" >one</a> |
						<span v-if="table_settings['theme']=='two'" >two</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('theme','three')" >three</a>
						<span v-if="table_settings['theme']=='deflist'" >DefList</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('theme','deflist')" >DefList</a>
					</div>
					<div>Scroll:
						<span v-if="table_settings['overflow']=='none'" >none</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('overflow','none')" >none</a> |
						<span v-if="table_settings['overflow']=='auto'" >auto</span>
						<a v-else   href="update" v-on:click.prevent.stop="table_settings_update('overflow','auto')" >auto</a>
					</div>
					<div v-if="table_settings['overflow']=='auto'">Max height:
						<select v-model="table_settings['mheight']" v-on:click.stop v-on:change="table_settings_update('mheight','',$event)" >
							<option value="none" >none</option>
							<option value="200" >200</option>
							<option value="300" >300</option>
							<option value="400" >400</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<div v-if="image_popup" data-id="bounds" class="image_popup_back" v-on:mouseover.stop.prevent v-on:mousemove.stop.prevent v-on:click.stop.prevent ></div>
		<div v-if="image_popup" data-id="bounds" class="image_popup" v-bind:style="image_popup_style" v-on:mouseover.stop v-on:mousemove.stop v-on:click.stop >
			<div class="image_popup_head" ><span>Insert Image</span>
				<div v-bind:class="{'image_popup_tab':true,'active':(image_popup_tab=='edit')}"  v-on:click.stop="image_popup_tab='edit'">Edit</div>
				<div v-bind:class="{'image_popup_tab':true,'active':(image_popup_tab=='upload')}" v-on:click.stop="image_popup_tab='upload'">Upload</div>
				<div v-bind:class="{'image_popup_tab':true,'active':(image_popup_tab=='browse')}" v-on:click.stop="image_popup_tab='browse'">Browse</div>
				<div class="image_popup_cls_btn" v-on:click.prevent.stop="hide_image_popup">X</div>
			</div>
			<div class="image_popup_content" >
				<div v-if="image_popup_tab=='edit'" >
					<div>URL <span  v-if="image_blob!=''" >Image yet to upload!</span></div>
					<div v-if="image_linktype=='ext'"><input type="text" style="width: 95%;" placeholder="image url" v-model="image_url"></div>
					<div>Caption <input type="checkbox" v-model="image_caption" ></div>
					<div><input type="text" style="width: 95%;" placeholder="Caption" v-model="image_caption_txt"></div>
					<div><input type="button" value="SAVE" v-on:click.stop.prevent="image_update" ></div>
					<div v-if="image_url"><img style="width:95%;height: calc( 100% - 150px ); object-fit:contain; border:2px solid #fef; padding:3px;" v-bind:src="image_url" ></div>
					<div v-if="image_blob">{{ image_message }}</div>
					<div v-if="image_blob"><img style="width:95%;height: calc( 100% - 150px ); object-fit:contain; border:2px solid #fef; padding:3px;" v-bind:src="image_blob" ></div>
				</div>
				<div v-if="image_popup_tab=='upload'" >
					<input type="file" value="Open" v-on:change="image_popup_file_select" >
					<div contenteditable v-on:drop="drop_event" v-on:paste="onpaste" class="popup_drop" style="color:#999; height: 80%; background-color:#f0e8f8; vertical-align: middle; text-align: center;">You can drag or paste image directly in the editor</div>
				</div>
				<div v-if="image_popup_tab=='browse'" >

					<satish_image_gallery v-bind:browse_url="voptions['image_browse_url']" v-bind:browse_params="voptions['image_browse_params']" v-bind:config_domain="voptions['image_domain']" v-bind:config_path="voptions['image_path']" v-on:select_file="insert_from_gallery($event)"></satish_image_gallery>

				</div>
			</div>
		</div>
		<div v-if="image_crop_popup" data-id="bounds" class="image_popup_back" v-on:mouseover.stop v-on:mousemove.stop v-on:click.stop ></div>
		<div v-if="image_crop_popup" data-id="bounds" class="image_crop_popup" v-bind:style="image_crop_popup_style" v-on:mouseover.stop v-on:mousemove.stop v-on:click.stop >
			<div class="image_popup_head" ><span>Insert Image</span>
				<div class="image_popup_cls_btn" v-on:click.prevent.stop="image_crop_popup=false">X</div>
			</div>
			<div class="image_popup_content" >
				<div v-if="'image_upload_url' in voptions&&'image_upload_params' in voptions" >
					<satish_image_paste v-bind:img_blob="image_blob" v-bind:upload_url="voptions['image_upload_url']" v-bind:upload_params="voptions['image_upload_params']" v-bind:image_domain="voptions['image_domain']" v-bind:image_path="voptions['image_path']" v-on:save="image_crop_save($event)" ></satish_image_paste>
				</div>
				<div v-else>
					<div style="margin:30px; color:red;" >Image upload url not configured</div>
				</div>
			</div>
		</div>


</div>