version: "3"

services:
  web:
    container_name: phpengine_app
    image: satishkalepu/amazon-apache-php82
    ports:
      - "8888:80"
    volumes:
      - .:/var/www/html/

  mongo:
    container_name: phpengine_db
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: stage
      MONGO_INITDB_ROOT_PASSWORD: stage 
    ports:
      - "27017:27017"
