##22517 = E_ALL & ~E_WARNING & ~E_NOTICE & ~E_DEPRECATED & ~E_STRICT
##22519 = E_ALL & ~E_NOTICE & ~E_DEPRECATED & ~E_STRICT
##4181 = E_PARSE|E_COMPILE_ERROR|E_RECOVERABLE_ERROR|E_ERROR|E_CORE_ERROR

Header Set "Access-Control-Allow-Origin" "*"
Header Set "Access-Control-Allow-Methods" "*"
Header Set "Access-Control-Allow-Headers" "Content-Type"

php_value date.timezone 'Asia/Kolkata'
php_value short_open_tag 1
php_value post_max_size 20M
php_value upload_max_filesize 50M
php_value memory_limit 128M
php_value max_execution_time 20	
php_value max_input_time 20
php_value error_reporting 4181

php_value session.cookie_httponly 1
php_value session.cookie_lifetime 86400
php_value session.cookie_path /apimaker/
php_value session.cookie_secure On
php_value session.gc_maxlifetime 86400

php_value display_startup_errors On
php_value display_errors On
php_value html_errors Off
php_value log_errors On

RewriteEngine On

RewriteCond %{REQUEST_METHOD} !^(POST|GET|OPTIONS)
RewriteRule .* - [F,L]

RewriteRule ^(.*)$ index.php?request_url=$1 [QSA,L]

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json application/x-javascript

