<html>
<head>
	<title>DB API Admin</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/vue.min.js"></script>
	<script src="/js/axios.min.js"></script>
</head>
<body>
<style>
	div.ssd{white-space: nowrap;overflow: auto;max-width: 300px;max-height: 60px;}
	div.ssd::-webkit-scrollbar { width: 5px;height: 5px;}
	div.ssd::-webkit-scrollbar-track {background: #f1f1f1;}
	div.ssd::-webkit-scrollbar-thumb {background: #888;}
	div.ssd::-webkit-scrollbar-thumb:hover {background: #555;}
	pre.akss{overflow: auto;max-width: 350px;max-height: 100px; padding-right:10px;}
	pre.akss::-webkit-scrollbar { width: 5px;height: 5px;}
	pre.akss::-webkit-scrollbar-track {background: #f1f1f1;}
	pre.akss::-webkit-scrollbar-thumb {background: #888;}
	pre.akss::-webkit-scrollbar-thumb:hover {background: #555;}
	.bsvg{ width:15px; height:15px;cursor:pointer; }
	.edit_form{ position:fixed; top:60px; left:60px; width:calc( 100% - 120px );height:calc( 100% - 120px ); z-index:900; background-color:white; border:1px solid #333; box-shadow:2px 2px 10px #666; }
	.edit_form .h{ padding:10px; background-color:#f0f0f0; }
	.edit_form .c{ padding:10px; overflow:auto; height:calc( 100% - 60px ); width:calc( 100% - 20px ); }
	label{ margin:0px; padding:0px; }
</style>
<div class="container-fluid" >
<div id="app" >
	<div class="alert alert-danger" v-if="session_error" >{{ session_error }}</div>
	<div v-if="loggedin==false" >
		<div class="card" >
			<div class="card-title" >Login</div>
			<div class="card-body" >
				<table>
					<tr>
						<td>User</td>
						<td><input v-model="username" type="text" class="form-control form-control-sm" ></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input v-model="password" type="password" class="form-control form-control-sm" ></td>
					</tr>
					<tr v-if="login_captcha_code" >
						<td>Human Test</td>
						<td><img v-bind:src="login_captcha_img"><img src="/refresh.png" alt="Refresh" style="width:15px" v-on:click="load_captcha"></td>
					</tr>
					<tr v-if="login_captcha_code" >
						<td>Human Test</td>
						<td><input v-model="login_captcha" type="text" class="form-control form-control-sm" ></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="button" class="btn btn-primary btn-sm" v-on:click="dologin" value="Login" ></td>
					</tr>
				</table>
				<div v-if="login_error" class="text-danger" >{{ login_error }}</div>
				<div v-if="login_msg" class="text-success" >{{ login_msg }}</div>
			</div>
		</div>
	</div>
	<div v-if="loggedin" >
		<div>
			<a class="btn btn-secondary btn-sm" style="float:right;" href="/admin/logout">Logout</a>
			<ul class="nav nav-tabs">
			<li class="nav-item">
				<a v-bind:class="{'nav-link':true,'active':(tab=='home')}" href="#" v-on:click="open_tab('home')">Home</a>
			</li>
			<li class="nav-item">
				<a v-bind:class="{'nav-link':true,'active':(tab=='keys')}" href="#" v-on:click="open_tab('keys')">Access Keys</a>
			</li>
			<li class="nav-item">
				<a v-bind:class="{'nav-link':true,'active':(tab=='users')}" href="#" v-on:click="open_tab('users')">Users</a>
			</li>
			<li class="nav-item">
				<a v-bind:class="{'nav-link':true,'active':(tab=='help')}" href="#" v-on:click="open_tab('help')">Help</a>
			</li>
			</ul>
		</div>
		<div v-if="tab=='keys'" >
			<p><b>Access Keys</b></p>
			<div v-if="ak_msg" >{{ ak_msg }}</div>
			<div v-if="ak_error" ckass="text-danger" >{{ ak_error }}</div>
			<div><input type="button" class="btn btn-secondary btn-sm" value="Add Key" v-on:click="show_ak_add" ></div>
			<table class="table table-bordered table-sm w-auto">
				<tr>
					<td></td><td></td>
					<td>Key</td>
					<td>Created</td>
					<td>Expires</td>
					<td>Policy</td>
					<td>IPs</td>
					<td>Create<BR>Sessions</td>
					<td>Active</td>
				</tr>
				<tr v-for="v,i in ak_keys">
					<td><div class="bsvg" v-on:click="ak_edit_open(i)"><img src="/edit.svg" ></div></td>
					<td><div class="bsvg" v-on:click="ak_delete(i)"><img src="/delete.svg" ></div></td>
					<td nowrap>{{ v['sk'] }}</td>
					<td nowrap>{{ v['created'].substr(0,16) }}</td>
					<td nowrap>
						<div>{{ v['expire'] }}</div>
						<div v-html="ak_list_get_date( v['expire'] )"></div>
					</td>
					<td nowrap>
						<pre class="akss" v-text="v['policies']" ></pre>
					</td>
					<td nowrap>
						<div v-for="iv,ii in v['allow_ips']" >{{ iv }}</div>
					</td>
					<td>
						{{ v['allow_sessions']?'Yes':'' }}
					</td>
					<td>{{ v['active'] }}</td>
				</tr>
			</table>

			<div v-if="ak_add_form" class="edit_form" >
				<div class="h" >Access Key Create/Update
					<div class="btn btn-secondary btn-sm" style="float:right; margin-right: 10px;" v-on:click="ak_add_form=false" >Close</div>
					<div class="btn btn-secondary btn-sm" style="float:right; margin-right: 10px;" v-on:click="ak_save_record" >Save</div>
				</div>
				<div class="c" >
					<div style="width:100%; height:calc( 100% - 30px ); overflow: auto;" >
					<table class="table table-bordered table-sm w-auto" >
						<tr>
							<td>Policies</td>
							<td>
								<div v-for="pv,pi in ak_record['policies']" style="padding:10px; border:1px solid #bbb; margin:10px;" >
									<div v-on:click="ak_add_del_policy(pi)" class="btn btn-link btn-sm" style="float:right;" >Delete Policy</div>
									<p>Policy: <b>{{ pi+1 }}</b> </p>
									<table class="table table-bordered table-sm w-auto" >
										<tr>
											<td>Allowed Tables</td>
											<td>
												<div v-for="v,i in pv['allow_tables']" >
													<select v-model="ak_record['policies'][pi]['allow_tables'][i]" >
														<option value="*" >*</option>
														<option v-for="tv,ti in config_allow_tables" v-bind:value="tv" >{{ tv }}</option>
													</select>
													<input type="button" value="X" v-on:click="ak_add_table_delete(pi,i)">
												</div>
												<div><input type="button" value="+" v-on:click="ak_add_table_add(pi)"></div>
											</td>
										</tr>
										<tr>
											<td>Allowed Actions</td>
											<td>
												<div v-for="v,i in config_allow_actions" ><label><input type="checkbox" v-model="ak_record['policies'][pi]['allow_actions']" v-bind:value="v"> {{ v }}</label></div>
											</td>
										</tr>
									</table>
								</div>
								<div><div v-on:click="ak_add_add_policy" class="btn btn-link btn-sm" >Add Policy</div></div>
							</td>
						</tr>
						<tr>
						<tr>
							<td>Allowed Ips</td>
							<td>
								<div v-for="v,i in ak_record['allow_ips']" ><input type="text" v-model="ak_record['allow_ips'][i]" placeholder="IPAddress"><input type="button" value="X" v-on:click="ak_add_ip_delete(i)"></div>
								<div><input type="button" value="+" v-on:click="ak_add_ip_add"></div>
							</td>
						</tr>
						<tr>
							<td>Create Sessions</td>
							<td>
								<label><input type="checkbox" v-model="ak_record['allow_sessions']" > Allow creation of sub client sessions</label>
							</td>
						</tr>
						<tr>
							<td>Expires In</td>
							<td>
								<div>Timestamp: <input type="number" v-model="ak_record['expire']" v-on:keydown="ak_record_expire_change" v-on:change="ak_record_expire_change" ></div>
								<div>{{ expire_project }}</div>
								Set to: <select v-model="expire_minits" v-on:change="ak_record_timestamp" >
									<option value="5" >5 Minits</option>
									<option value="10" >10 Minits</option>
									<option value="20" >20 Minits</option>
									<option value="60" >1 Hour</option>
									<option value="120" >2 Hours</option>
									<option value="360" >6 Hours</option>
									<option value="720" >12 Hours</option>
									<option value="1440" >1 Day</option>
									<option value="21600" >15 Days</option>
									<option value="43200" >1 Month</option>
									<option value="259200" >6 Months</option>
									<option value="518400" >1 Year</option>
									<option value="-1" >Never</option>
								</select>
							</td>
						</tr>
					</table>
					</div>
					<div v-if="ak_add_error" class="text-danger" >{{ ak_add_error }}</div>
					<div v-if="ak_add_msg" class="text-success" >{{ ak_add_msg }}</div>
				</div>
			</div>

		</div>
		<div v-else-if="tab=='users'" >
			<p><b>Users</b></p>
			<div><input type="button" class="btn btn-secondary btn-sm" value="Add User" v-on:click="show_user_add" ></div>
			<table class="table table-bordered table-sm w-auto">
				<tr>
					<td></td><td></td>
					<td>Username</td>
					<td>Created</td>
					<td>Password<BR>Expires</td>
					<td>Policy</td>
					<td>Session<BR>Expire</BR>
					<td>Active</td>
				</tr>
				<tr v-for="v,i in users">
					<td><div class="bsvg" v-on:click="user_edit_open(i)"><img src="/edit.svg" ></div></td>
					<td><div class="bsvg" v-on:click="user_delete(i)"><img src="/delete.svg" ></div></td>
					<td nowrap>{{ v['sk'] }}</td>
					<td nowrap>{{ v['created'].substr(0,16) }}</td>
					<td nowrap>
						<div>{{ v['pwdexpire_date'].substr(0,16) }}</div>
					</td>
					<td nowrap>
						<pre class="akss" v-text="v['policies']" ></pre>
					</td>
					<td nowrap>{{ v['policy_expire'] }} minits</div></td>
					<td>{{ v['active'] }}</td>
				</tr>
			</table>

			<div v-if="user_add_form" class="edit_form" >
				<div class="h" >Users Create/Update
					<div class="btn btn-secondary btn-sm" style="float:right; margin-right: 10px;" v-on:click="user_add_form=false" >Close</div>
					<div class="btn btn-secondary btn-sm" style="float:right; margin-right: 10px;" v-on:click="user_save_record" >Save</div>
				</div>
				<div class="c" >
					<div style="width:100%; height:calc( 100% - 30px ); overflow: auto;" >
					<table class="table table-bordered table-sm w-auto" >
						<tr>
							<td>Username</td>
							<td><input type="text" v-model="user_record['sk']"></td>
						</tr>
						<tr>
							<td>Passowrd</td>
							<td><input type="text" v-model="user_record['password']">
								<div>Fill to update password.</div>
							</td>
						</tr>
						<tr>
							<td>Password Expiry</td>
							<td>
								<select v-model="user_record['pwdexpire']" >
									<option value="1" >1 Month</option>
									<option value="2" >2 Months</option>
									<option value="6" >6 Months</option>
									<option value="12" >1 Year</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Policies</td>
							<td>
								<div v-for="pv,pi in user_record['policies']" style="padding:10px; border:1px solid #bbb; margin:10px;" >
									<div v-on:click="user_add_policy_del(pi)" class="btn btn-link btn-sm" style="float:right;" >Delete Policy</div>
									<p>Policy: <b>{{ pi+1 }}</b> </p>
									<table class="table table-bordered table-sm w-auto" >
										<tr>
											<td>Allowed Tables</td>
											<td>
												<div v-for="v,i in user_record['policies'][pi]['allow_tables']" >
													<select v-model="user_record['policies'][pi]['allow_tables'][i]" >
													<option value="*" >*</option>
													<option v-for="tv,ti in config_allow_tables" v-bind:value="tv" >{{ tv }}</option>
													</select>
													<input type="button" value="X" v-on:click="user_add_table_delete(pi,i)">
												</div>
												<div><input type="button" value="+" v-on:click="user_add_table_add(pi)"></div>
											</td>
										</tr>
										<tr>
											<td>Allowed Actions</td>
											<td>
												<div v-for="v,i in config_allow_actions" ><label><input type="checkbox" v-model="user_record['policies'][pi]['allow_actions']" v-bind:value="v"> {{ v }}</label></div>
											</td>
										</tr>
									</table>
								</div>
								<div><div v-on:click="user_add_policy_add" class="btn btn-link btn-sm" >Add Policy</div></div>
							</td>
						</tr>
						<tr>
							<td>Session Expiry</td>
							<td>
								<select v-model="user_record['policy_expire']" >
									<option value="5" >5 Minits</option>
									<option value="10" >10 Minits</option>
									<option value="20" >20 Minits</option>
									<option value="60" >1 Hour</option>
								</select>
							</td>
						</tr>
					</table>
					</div>
					<div v-if="user_add_error" class="text-danger" >{{ user_add_error }}</div>
					<div v-if="user_add_msg" class="text-success" >{{ user_add_msg }}</div>
				</div>
			</div>

		</div>
		<div v-else-if="tab=='help'" >
			<p><b>Help</b></p>
			<p>Environment Variables</p>
			<ul>
				<li>allow_concurrent_login: yes/no</li>
				<li>maximum_failed_attempts: 3</li>
				<li>maximum_keys_per_ip: 3</li>
				<li>maximum_keys_per_authkey: 3</li>
				<li>maximum_api_calls_per_client_per_second: 5</li>
				<li>config_user_table</li>
				<li>config_aws_region</li>
				<li>config_allow_domains</li>
				<li>config_local_aws_key (development)</li>
				<li>config_local_aws_secret (development)</li>
			</ul>

			<p>TableName: db_api_users</p>
			<ul>
				<li>primary key: pk (string), range key: sk (string)</li>
				<li>global key: pk2 (string), range key: sk2 (string)</li>
			</ul>
			<p>Record 1: temporary session tokens</p>
			<ul>
				<li>pk: session</li>
				<li>sk: session_id (encrypted)</li>
				<li>type: admin/client</li>
				<li>ip: ip</li>
				<li>ua: user agent</li>
				<li>created: datetime</li>
				<li>allow_ips: [ "*", "ip1", "ip2" ]</li>
				<li>allow_actions: [ "*", "getItem", "putItem", "deleteItem", "updateItem", "query", "scan" ]</li>
				<li>allow_tables: [ "*", "table1", "table2", etc ]</li>
				<li>expire: time</li>
			</ul>
			<p>Record 2: access keys. </p>
			<ul>
				<li>pk: (admin_keys|user_keys) admin keys have unlimited session time</li>
				<li>sk: random_key (encrypted)</li>
				<li>created: datetime</li>
				<li>lastused: datetime</li>
				<li>active: y/n</li>
				<li>allow_ips: [ "*", "ip1", "ip2" ]</li>
				<li>allow_actions: [ "*", "getItem", "putItem", "deleteItem", "updateItem", "query", "scan" ]</li>
				<li>allow_tables: [ "*", "table1", "table2", etc ]</li>
				<li>expire: time</li>
			</ul>
			<p>Record 3: users with policies</p>
			<ul>
				<li>pk: user</li>
				<li>sk: username</li>
				<li>password: password (hashed)</li>
				<li>created: datetime</li>
				<li>lastLogin: datetime</li>
				<li>lastFailedLogin: datetime</li>
				<li>active: y/n</li>
				<li>allow_ips: [ "*", "ip1", "ip2" ]</li>
				<li>allow_actions: [ "*", "getItem", "putItem", "deleteItem", "updateItem", "query", "scan" ]</li>
				<li>allow_tables: [ "*", "table1", "table2", etc ]</li>
				<li>policy_expire: time</li>
				<li>expire: time</li>
			</ul>
			<p>Record 4: login log</p>
			<ul>
				<li>pk: log</li>
				<li>sk: login</li>
				<li>username: </li>
				<li>authkey: </li>
				<li>datetime: datetime</li>
				<li>expire: config_log_time</li>
			</ul>

			<p><b>API 1: Authentication</b></p>
			<div>POST /dbapi/generate_session_token</div>
			<pre>		{
			"Key": "authentication key", 
			"allow_actions":[], default "*" 
			"allow_tables": [], tablename mandatory
			"allow_ips":[], default client ip
			"expire": in minits. default 5, max 60 minits
		}</pre>
			<div>Works only for keys with create_session permissions</div>
			<div>default ip is client ip. check_session is not allowed in request actions</div>
			<div>this api supposed to be allowed for private client server side communication, who can authenticate and genreate a temporary session token, which can later be used from public clients (browser)</div>
			<div>Response:</div>
			<pre>		{
			"status": "success/fail",
			"Key": "session key",
			"error": ""
		}</pre>

			<p><b>API 2: User Authentication</b></p>
			<div>POST /api/user_auth</div>
			<pre>		{
			"username": "username", 
			"password": "password",
		}</pre>
			<div>genreates a session key for the request client ip</div>
			<pre>		{
			"status": "success/fail",
			"Key": "session key",
			"error": ""
		}</pre>

			<p><b>API 3: DB API</b></p>
			<div>POST /api/(query/scan/getItem/putItem/updateItem/deleteItem)</div>
			<pre>		{
			"Key": "session key", 
			"TableName": "",
			"Condition": {},  for query/scan
			"Filter": {},  for query/scan
			"Key": {},  for getItem/deleteItem
			"Item": {},   for putItem/updateItem
			"ExclusiveStartKey": {},  for query/scan
			"Order": "asc",  asc/dsc for query
			"IndexName": "main",  for query/scan
		}</pre>
			<div>Responses: </div>
			<pre>		{
			"status": "success/fail",
			"error": "",   when error
			"Item": {},  when getItem
			"Items": {},  when query/scan
			"LastEvaluatedKey": {},   when query/scan
			"ConsumedCapacity": "",  info
			"Count": "",  info
			"ScannedCount": "",  info
		}</pre>

		</div>
		<div v-else-if="tab=='table'" >
			<div class="btn btn-secondary btn-sm" style="float:right; margin-right:10px;" v-on:click="open_add_form" >Insert</div>
			<div v-if="summary_tool==false" class="btn btn-secondary btn-sm" style="float:right; margin-right:10px;" v-on:click="display_summary_tab" >Get Table Summary</div>
			<div v-if="summary_tool" class="btn btn-secondary btn-sm" style="float:right; margin-right:10px;" v-on:click="summary_tool=false" >Go Back</div>
			<p><b>{{ TableName }}</b></p>
			<div v-if="summary_tool" >


				<div style="border:1px solid #bbb; padding:10px; " >
					<div>Index: <select v-model="find_keys_query_index" class="form-control form-control-sm d-inline w-auto" >
						<option value="main" >{{ table['KeySchema'][0]['AttributeName'] + (table['KeySchema'].length>1?' - '+table['KeySchema'][1]['AttributeName']:'') }}</option>
						<template v-if="'GlobalSecondaryIndexes' in table" >
							<option v-for="v,i in table['GlobalSecondaryIndexes']" v-bind:value="v['IndexName']" >{{ v['IndexName'] }}</option>
						</template>
					</select></div>
					<div><input type="button" value="Fetch Keys" v-on:click="fetch_keys" > <input type="button" value="Fetch Keys" v-on:click="fetch_all_key_count" > </div>
				</div>

				

				<div style="min-height: 60px;" >
				<div v-if="bulk_delete_msg" class="alert alert-success" >{{ bulk_delete_msg }}</div>
				<div v-if="find_msg" class="alert alert-success" >{{ find_msg }}</div>
				<div v-if="find_err" class="alert alert-danger" >{{ find_err }}</div>
				</div>

				<div v-if="typeof(keys_summary)=='object'" >
					<table class="table table-bordered table-sm w-auto" >
						<tr>
							<td>Key</td>
							<td>Start</td>
							<td>End</td>
							<td>Cnt</td>
							<td>-</td>
						</tr>
						<tr v-for="v,k in keys_summary" >
							<td>{{ k }}</td>
							<td>{{ v['start'] }}</td>
							<td>{{ v['end'] }}</td>
							<td align="right">{{ v['cnt'] }}</td>
							<td><input v-if="v['cnt']==-1" type="button" value="Find Count" v-on:click="find_count_of_key(k)" ></td>
							<td>
								<input v-if="v['cnt']>0&&bulk_delete_allow==false" type="button" value="Bulk Delete" v-on:click="start_bulk_delete(k)" >
								<input v-if="v['cnt']>0&&bulk_delete_allow&&bulk_delete_key==k" type="button" value="Stop deleting" v-on:click="bulk_delete_allow=false" >
							</td>
						</tr>
					</table>
					<div>Total: {{ fetch_cnt }}</div>
					<div>Consumed Units: {{ fetch_units }}</div>
				</div>

			</div>
			<div v-else>
				<div v-if="browse_error" class="text-danger" >{{ browse_error }}</div>
				<div style="display:flex;">
					<div style="padding:3px;">
						<select v-model="brtype" class="form-control form-control-sm d-inline w-auto" v-on:change="check_brtype" >
							<option value="scan" >Scan</option>
							<option value="query" >Query</option>
						</select>
					</div>
					<div style="padding:3px;" >
						<table style="border:1px solid #ccc;">
						<tr><td>Index</td></tr>
						<tr><td><select v-model="query_index" class="form-control form-control-sm d-inline w-auto" v-on:change="check_query_schema" >
							<option value="main" >{{ table['KeySchema'][0]['AttributeName'] + (table['KeySchema'].length>1?' - '+table['KeySchema'][1]['AttributeName']:'') }}</option>
							<template v-if="'GlobalSecondaryIndexes' in table" >
								<option v-for="v,i in table['GlobalSecondaryIndexes']" v-bind:value="v['IndexName']" >{{ v['IndexName'] }}</option>
							</template>
						</select></td>
						</tr>
						</table>
					</div>
					<div v-if="brtype=='query'" style="padding:3px;" >
						<table style="border:1px solid #ccc;">
						<tr><td>Order</td></tr>
						<tr><td><select v-model="order" class="form-control form-control-sm d-inline w-auto" >
							<option value="asc" >Asc</option>
							<option value="dsc" >Dsc</option>
						</select></td></tr>
						</table>
					</div>
					<div v-if="brtype=='query'"  style="padding:3px;" >
						<table style="border:1px solid #ccc;">
							<tr>
								<td>{{ query_schema[0]['AttributeName'] }}</td>
								<td>=</td>
								<td><input type="text" class="form-control form-control-sm d-inline w-auto" v-model="query_schema[0]['value']" ></td>
							</tr>
							<tr v-if="query_schema.length>1">
								<td>{{ query_schema[1]['AttributeName'] }}</td>
								<td>
									<select v-model="query_schema[1]['cond']" >
										<option value="=" >=</option>
										<option value="&lt;" >&lt;</option>
										<option value="&lt;=" >&lt;=</option>
										<option value="&gt;" >&gt;</option>
										<option value="&gt;=" >&gt;=</option>
									</select>
								</td>
								<td><input type="text" class="form-control form-control-sm d-inline w-auto" v-model="query_schema[1]['value']" ></td>
							</tr>
						</table>
					</div>
					<div v-if="LastEvaluatedKey&&brtype=='scan'" style="padding:3px;" >
						<div>Start Key/Next Key</div>
						<div v-if="query_index=='main'" >
						<table style="border:1px solid #ccc;">
							<tr>
								<td v-for="v,i in LastEvaluatedKey" >{{ i }}</td>
							</tr>
							<tr>
								<td v-for="v,i in LastEvaluatedKey" ><input type="text" class="form-control form-control-sm d-inline w-auto" v-model="LastEvaluatedKey[i]" ></td>
							</tr>
						</table>
						</div>
						<div v-else >
						<table style="border:1px solid #ccc;">
							<tr>
								<td v-for="v,i in LastEvaluatedKey" v-if="i in query_schema_fields" >{{ i }}</td>
							</tr>
							<tr>
								<td v-for="v,i in LastEvaluatedKey" v-if="i in query_schema_fields" ><input type="text" class="form-control form-control-sm d-inline w-auto" v-model="LastEvaluatedKey[i]" ></td>
							</tr>
						</table>
						</div>
					</div>
					<div style="padding:3px;">
						<div class="btn btn-secondary btn-sm" v-on:click="search_now" v-if="brtype=='query'" >Search</div>
						<div class="btn btn-secondary btn-sm" style="float:right;" v-on:click="goto_next" v-if="LastEvaluatedKey" >Next</div>
					</div>
				</div>
				<table class="table table-bordered table-sm" style="width:initial;" >
					<tr>
						<td>#</td><td>#</td>
						<td v-for="fv,fi in fields2">{{ fv }}</td>
					</tr>
					<tr v-for="v,i in records">
						<td><div class="bsvg" v-on:click="open_edit_form(i)"><img src="/edit.svg" ></div></td>
						<td><div class="bsvg" v-on:click="delete_record(i)"><img src="/delete.svg" ></div></td>
						<td v-for="fv,fi in fields2"><div class="ssd" v-if="fv in v" >{{ v[ fv ] }}</div></td>
					</tr>
				</table>

				<div v-if="float_msg" style="position: fixed; left:0px; bottom:0px; width:100%; z-index: 900; padding:5px; background-color: #ffc96e; color:black;" >{{ float_msg }}</div>
				<div v-if="edit_form_div" class="edit_form" >
					<div class="h" >Edit Record
						<div class="btn btn-secondary btn-sm" style="float:right; margin-right: 10px;" v-on:click="edit_form_div=false" >Close</div>
						<div class="btn btn-secondary btn-sm" style="float:right; margin-right: 10px;" v-on:click="save_record" >Save</div>
					</div>
					<div class="c" >
						<textarea v-model="edit_record_str" style="width:100%; height:calc( 100% - 20px );outline: 0px;padding:10px;white-space: nowrap;" spellcheck="false" ></textarea>
						<div v-if="save_error" class="text-danger" >{{ save_error }}</div>
						<div v-if="save_msg" class="text-success" >{{ save_msg }}</div>
					</div>
				</div>

			</div>

		</div>
		<div v-else-if="tab=='home'">

			<p><b>DynamoDB Overview</b></p>

			<table class="table table-bordered table-sm" style="width:initial;" >
				<tr>
					<td>Table</td>
					<td>Key</td>
					<td>Indexes</td>
					<td>Size</td>
					<td>Items</td>
					<td>Type</td>
				</tr>
				<tr v-for="v,i in tables">
					<td><div class="btn btn-link btn-sm" v-on:click="select_table(i)" >{{ v['TableName'] }}</div></td>
					<td><div style="display: inline-block; border:1px solid #ccc; padding:2px; margin-right:2px;" v-for="kv,ki in v['KeySchema']" >{{ kv['AttributeName'] }} {{ kv['Type'] }}</div></td>
					<td>
						<div style="max-height: 100px;overflow: auto;" >
						<div v-for="iv,ii in v['GlobalSecondaryIndexes']" >
							<div style="display: inline-block; border:1px solid #ccc; padding:2px; margin-right:2px;" v-for="kv,ki in iv['KeySchema']" >{{ kv['AttributeName'] }} {{ kv['Type'] }}</div>
						</div>
						</div>
					</td>
					<td align="right">{{ (v['TableSizeBytes']/1024/1024).toFixed(0) }} MB</td>
					<td align="right">{{ v["ItemCount"] }}</td>
					<td>{{ v["BillingModeSummary"]['BillingMode'] }}</td>
				</tr>
			</table>
		</div>


	</div>
</div>
<script>
var app = new Vue({
	el: "#app",
	data: {
		loggedin: false,
		float_msg: "",
		session_error: "",
		username: "",
		password: "",
		login_msg: "",
		login_error: "",
		login_captcha_code: "",
		login_captcha_img: "",
		login_captcha: "",
		session_id: "##session_id##",
		captcha_api_url: "##captcha_api_url##",
		tables: [],
		TableName: "",
		table: {},
		tableindex: -1,
		tab: "home",
		brtype: "scan",
		browse_error: "",
		records: [],
		fields: {},
		fields2: [],
		LastEvaluatedKey: false,
		order: "asc",
		query_index: "main",
		query_schema: {},
		query_schema_fields: {},
		query: {},
		edit_form_div: false,
		delete_ids: [],
		edit_record_str: "",
		edit_record: {},
		save_error: "",
		save_msg: "",
		edit_form_rec_id: -1,
		access_keys: false,
		help: false,
		ak_keys: [],
		ak_error: "",
		ak_msg: "",
		ak_add_form: false,
		ak_record: {
			"active": "y",
			"expire": "60",
			"policies": [
				{
					"allow_actions": ["getItem"],
					"allow_tables": ["table1"],
				}
			],
			"allow_ips": ["192.168.1.1/32"],
			"allow_sessions": false,
		},
		expire_timestamp: 0,
		expire_minits: 5,
		expire_project: "",
		ak_add_msg: "",
		ak_add_error: "",
		ak_edit_vi: -1,
		config_allow_actions: ["*","getItem", "putItem", "deleteItem", "updateItem", "query", "scan"],
		config_allow_tables: [],
		users_tab: false,
		users: [],
		user_msg: "",
		user_error: "",
		user_add_form: false,
		user_add_msg: "",
		user_add_error: "",
		user_edit_vi: -1,
		user_record: {
			"sk": "",
			"password": "",
			"active": "y",
			"policies": [{
				"allow_ips": ["192.168.1.1/32"],
				"allow_actions": ["getItem"],
				"allow_tables": ["*"],
			}],
			"pwdexpire": 2, // in months
			"policy_expire": 5 // minits
		},
		summary_tool: false,
		keys_summary: {},
		find_keys_query_index: "main",
		fetch_cnt: 0,
		fetch_units: 0,
		find_msg: "",
		find_err: "",
		bulk_delete_key: "",
		bulk_delete_allow: false,
		bulk_delete_msg: "",
	},
	mounted: function(){
		if( this.session_id ){
			this.check_session();
		}
	},
	methods: {
		check_session: function(){
			axios.post("/admin/check_session", {
				"session_id": this.session_id,
			}).then(response=>{
				if( response.status == 200 ){
					if( typeof(response.data) == "object" ){
						if( "status" in response.data ){
							if( response.data['status'] == "success" ){
								this.loggedin = true;
								this.load_tables();
							}else{
								this.loggedin = false;
								this.session_id = "";
							}
						}else{
							this.session_error = "Incorrect response!";
						}
					}else{
						this.session_error = "Incorrect response!";
					}
				}else{
					this.session_error = "Incorrect response!";
				}
			});
		},
		load_captcha: function(){
			this.login_captcha_code = 99999;
			return false;
			this.login_msg = "loading captcha...";
			this.login_error = "";
			axios.get(this.captcha_api_url+"captcha/get").then(response=>{
				this.login_msg = "";
				if( response.status == 200 ){
					if( typeof(response.data) == "object" ){
						if( response.data["status"] == "ok" ){
							this.login_captcha_img = "data:image/jpeg;base64,"+response.data['img'];
							this.login_captcha_code = response.data['code'];
						}else{
							this.login_error = "Captcha Error: " . response.data["error"];
						}
					}else{
						this.login_error = "Captcha incorrect response";
					}
				}else{
					this.login_error = "Captcha incorrect response";
				}
			});
		},
		dologin: function(){
			this.login_error = "";
			if( this.login_captcha_code == "" ){
				this.load_captcha();
				return false;
			}
			if( this.username == "" || this.password == "" ){
				this.login_error = "Username/Password missing";return false;
			}
			if( this.login_captcha == "" ){
				this.login_error = "Need captcha";return false;	
			}
			this.login_msg = "Connecting...";
			axios.post("/admin/login", {
				"username": this.username,
				"password": this.password,
				"captcha": this.login_captcha,
				"captcha_code": this.login_captcha_code,
			}).then(response=>{
				this.login_msg = ""
				if( response.status == 200 ){
					if( typeof(response.data) == "object" ){
						if( "status" in response.data ){
							if( response.data['status'] == "success" ){
								this.loggedin = true;
								this.session_id = response.data["session_id"];
								this.load_tables();
							}else{
								this.login_error = response.data['error'];
							}
						}else{
							this.login_error = "Incorrect response!";
						}
					}else{
						this.login_error = "Incorrect response!";
					}
				}else{
					this.login_error = "Incorrect response!";
				}
			});
		},
		load_tables: function(){
			axios.post("/admin/load_tables", {
				"session_id": this.session_id
			}).then(response=>{
				if( response.status == 200 ){
					if( typeof(response.data) == "object" ){
						if( "status" in response.data ){
							if( response.data['status'] == "success" ){
								this.tables = response.data['tables'];
								var t = [];
								for(var i=0;i<this.tables.length;i++){
									t.push( this.tables[i]['TableName'] );
								}
								this.config_allow_tables = t;
							}else{
								this.session_error = response.data['error'];
							}
						}else{
							this.session_error = "Incorrect response!";
						}
					}else{
						this.session_error = "Incorrect response!";
					}
				}else{
					this.session_error = "Incorrect response!";
				}
			})
		},
		open_tab: function(v){
			this.tab = v;
			if( v== 'keys' ){
				this.load_access_keys();
			}
			if( v== 'users' ){
				this.load_users();
			}
		},
		select_table: function(vi){
			this.tableindex = vi;
			this.records = [];
			this.LastEvaluatedKey = false;
			this.tab = "table";
			this.brtype = "scan";
			this.table = JSON.parse( JSON.stringify( this.tables[ vi ] ) );
			this.query_index = "main";
			this.TableName = this.tables[ vi ]['TableName']+'';
			this.check_query_schema();
		},
		check_brtype: function(){
			this.LastEvaluatedKey = false;
			if( this.brtype == "scan" ){
				this.records = [];
				this.LastEvaluatedKey = false;
				this.load_records();
			}
		},
		check_query_schema: function(){
			this.records = [];
			this.LastEvaluatedKey = false;
			var q = {};
			var f = {};
			if( this.query_index == "main" ){
				q = JSON.parse( JSON.stringify(this.table['KeySchema']) );
				for(var i=0;i<q.length;i++){
					q[i]["cond"] = "=";
					q[i]["value"] = "";
					f[ q[i]['AttributeName'] ] = q[i]['Type'];
				}
				this.query_schema = q;
				this.query_schema_fields = f;
			}else{
				for(var i=0;i<this.table['GlobalSecondaryIndexes'].length;i++){
					if( this.table['GlobalSecondaryIndexes'][i]["IndexName"] == this.query_index ){
						q = JSON.parse( JSON.stringify(this.table['GlobalSecondaryIndexes'][i]['KeySchema']) );
						for(var i=0;i<q.length;i++){
							q[i]["cond"] = "=";
							q[i]["value"] = "";
							f[ q[i]['AttributeName'] ] = q[i]['Type'];
						}
						this.query_schema = q;
						this.query_schema_fields = f;
					}
				}
			}
			if( this.brtype == 'scan' ){
				this.search_now();
			}
		},
		reset: function(){
			this.last_key = false;
		},
		goto_next: function(){
			if( this.LastEvaluatedKey ){
				this.load_records();
			}
		},
		search_now: function(){
			this.LastEvaluatedKey = false;
			this.load_records();
		},
		load_records: function(){
			if( this.brtype == "scan" ){
				axios.post("/admin/scan_records", {
					"TableName":this.TableName,
					"LastEvaluatedKey": this.LastEvaluatedKey,
					"Index": this.query_index,
				}).then(response=>{
					if( response.status == 200 ){
						if( typeof(response.data) == "object" ){
							if( "status" in response.data ){
								if( response.data['status'] == "success" ){
									this.records = response.data['Items'];
									this.fields = response.data['fields'];
									this.LastEvaluatedKey = response.data["LastEvaluatedKey"];
									this.float_msg = "Consumed Units: " + response.data["ConsumedCapacity"];
									console.log( this.float_msg );
									setTimeout(this.hide_float_msg,5000);
									this.find_fields();
								}else{
									this.browse_error = response.data['error'];
								}
							}else{
								this.browse_error = "Incorrect response!";
							}
						}else{
							this.browse_error = "Incorrect response!";
						}
					}else{
						this.browse_error = "Incorrect response!";
					}
				});
			}else{
				if( this.query[ this.query_schema[0]["AttributeName"] ] != "" ){
					axios.post("/admin/query_records", {
						"TableName":this.TableName,
						"LastEvaluatedKey": this.LastEvaluatedKey,
						"Schema": this.query_schema,
						"Index": this.query_index,
						"Order": this.order
					}).then(response=>{
						if( response.status == 200 ){
							if( typeof(response.data) == "object" ){
								if( "status" in response.data ){
									if( response.data['status'] == "success" ){
										this.records = response.data['Items'];
										this.fields = response.data['fields'];
										this.LastEvaluatedKey = response.data["LastEvaluatedKey"];
										this.float_msg = "Consumed Units: " + response.data["ConsumedCapacity"];
										console.log( this.float_msg );
										setTimeout(this.hide_float_msg,5000);
										this.find_fields();
									}else{
										this.browse_error = response.data['error'];
									}
								}else{
									this.browse_error = "Incorrect response!";
								}
							}else{
								this.browse_error = "Incorrect response!";
							}
						}else{
							this.browse_error = "Incorrect response!";
						}
					});
				}
			}
		},
		hide_float_msg: function(){
			this.float_msg = "";
		},
		find_fields: function(){
			var f = [];
			var f2 = {};
			var t = this.tables[ this.tableindex ];
			for(var i=0;i<t['KeySchema'].length;i++){
				f.push( t['KeySchema'][i]['AttributeName'] );
			}
			for(var j in this.fields ){
				if( f.indexOf(j) == -1 ){
					f.push( j );
				}
			}
			this.fields2 = f;
		},
		open_add_form: function( vi ){
			this.edit_form_rec_id = -1;
			this.edit_form_div = true;
			var k = {};
			for(var i=0;i<this.records.length;i++){
				for(var ky in this.records[i] ){
					k[ ky ] = "";
				}
			}
			for(var i=0;i<this.table['KeySchema'].length;i++){
				k[ this.table['KeySchema'][i]['AttributeName'] ]= this.table['KeySchema'][i]['KeyType'] + " " + this.table['KeySchema'][i]['Type'];
			}
			this.edit_record_str = JSON.stringify( k, null, 4 );
		},
		delete_record: function(vi){
			if( confirm("Are you sure?") ){
				var key = {};
				for(var i=0;i<this.table['KeySchema'].length;i++){
					key[ this.table['KeySchema'][i]['AttributeName'] ] = this.records[vi][ this.table['KeySchema'][i]['AttributeName'] ];
				}
				axios.post("/admin/delete_item", {
					"TableName": this.TableName,
					"Key": key,
					"vi": vi,
				}).then(response=>{
					if( response.status == 200 ){
						if( typeof(response.data) == "object" ){
							if( "status" in response.data ){
								if( response.data['status'] == "success" ){
									this.records.splice( Number(response.data['vi']), 1 );
								}else{
									alert("Error: " + response.data['error'] );
								}
							}else{
								alert("Incorrect response!");
							}
						}else{
							alert("Incorrect response!");
						}
					}else{
						alert("Incorrect response!");
					}
				});
			}
		},
		open_edit_form: function( vi ){
			this.edit_form_rec_id = vi;
			this.edit_form_div = true;
			this.edit_record_str = JSON.stringify( this.records[ vi ], null, 4 );
			this.edit_record = JSON.parse( this.edit_record_str );
		},
		save_record: function(){
			this.save_error = "";
			try{
				if( this.edit_record_str == "" ){
					this.save_error = "Incorrect";
					return false;
				}
				var v = JSON.parse( this.edit_record_str );
				var key = {};
				for(var i=0;i<this.table['KeySchema'].length;i++){
					var k = this.table['KeySchema'][i]['AttributeName'];
					var t = this.table['KeySchema'][i]['Type'];
					if( this.table['KeySchema'][i]['KeyType'] == "HASH" ){
						var kt = "Primary Key";
					}else{
						var kt = "Search Key";
					}
					if( k in v == false ){
						this.save_error = kt + ": '" + k +"' is missing";
						return false;
					}else if( t == "N" && typeof(v[k]) != "number" ){
						this.save_error =  kt + ": '" + k + "' should be Numeric";
						return false;
					}
					key[ k ] = v[ k ];
				}
				this.save_msg = "Submitting...";
				axios.post("/admin/save_item", {
					"TableName": this.TableName,
					"Item": v,
					"Key": key
				}).then(response=>{
					this.save_msg = "";
					if( response.status == 200 ){
						if( typeof(response.data) == "object" ){
							if( "status" in response.data ){
								if( response.data['status'] == "success" ){
									if( this.edit_form_rec_id > -1 ){
										this.$set( this.records,this.edit_form_rec_id,JSON.parse( this.edit_record_str ) );
									}
									if( 'extra' in response.data ){
										this.save_msg = "Success. Updated existing record!";
									}else{
										this.save_msg = "Success. Created new record";
									}

									setTimeout(this.hide_save_msg, 10000);
								}else{
									this.save_error = response.data['error'];
								}
							}else{
								this.save_error = "Incorrect response!";
							}
						}else{
							this.save_error = "Incorrect response!";
						}
					}else{
						this.save_error = "Incorrect response!";
					}
				});
			}catch(e){
				this.save_error = "JSON Format error!";
			}
		},
		hide_save_msg: function(){
			this.save_msg = "";
		},
		load_access_keys: function(){
			this.ak_error = "";
			this.ak_msg = "Loading...";
			axios.post("/admin/load_access_keys",{}).then(response=>{
				this.ak_msg = "";
				if( response.status == 200 ){
					if( typeof(response.data) == "object" ){
						if( "status" in response.data ){
							if( response.data['status'] == "success" ){
								this.ak_keys = response.data['Items'];
							}else{
								this.ak_error = response.data['error'];
							}
						}else{
							this.ak_error = "Incorrect response!";
						}
					}else{
						this.ak_error = "Incorrect response!";
					}
				}else{
					this.ak_error = "Incorrect response!";
				}
			});
		},
		show_ak_add: function(){
			this.ak_add_form = true;
			var t = parseInt((new Date()).getTime()/1000)+(60*5);
			this.ak_record = {
				"active": "y",
				"expire": t,
				"policies": [
					{
						"allow_actions": ["getItem"],
						"allow_tables": ["*"],
					}
				],
				"allow_ips": ["192.168.1.1/32"],
				"allow_sessions": false,
			};
			this.expire_project = new Date(t*1000).toString();
			this.expire_minits = 5;
		},
		ak_save_record: function(){
			this.ak_add_error = "";
			this.ak_add_msg = "";
			for(var pi=0;pi<this.ak_record['policies'].length;pi++){
				for(var i=0;i<this.ak_record['policies'][pi]['allow_actions'].length;i++){
					if( this.ak_record['policies'][pi]['allow_actions'][i] == "*" ){
						if( this.ak_record['policies'][pi]['allow_actions'].length > 1 ){
							this.ak_add_error= "Policy "+(pi+1)+": When all Actions allowed, single rule is required!";return false;
						}
					}else if( this.config_allow_actions.indexOf( this.ak_record['policies'][pi]['allow_actions'][i] ) == -1 ){
						this.ak_add_error= "Policy "+(pi+1)+": Action `"+this.ak_record['policies'][pi]['allow_actions'][i]+"`not found";return false;
					}
				}
				for(var i=0;i<this.ak_record['policies'][pi]['allow_tables'].length;i++){
					if( this.ak_record['policies'][pi]['allow_tables'][i] == "*" ){
						if( this.ak_record['policies'][pi]['allow_tables'].length > 1 ){
							this.ak_add_error= "Policy "+(pi+1)+": When all Tables allowed, single rule is required!";return false;
						}
					}else if( this.ak_record['policies'][pi]['allow_tables'][i].match( /^[a-z][a-z0-9\-\_]{3,50}$/ ) == null ){
						this.ak_add_error= "Policy "+(pi+1)+": TableName sould be simple text";return false;
					}else{
						if( this.config_allow_tables.indexOf( this.ak_record['policies'][pi]['allow_tables'][i] ) == -1 ){
							this.ak_add_error= "Policy "+(pi+1)+": TableName `"+this.ak_record['policies'][pi]['allow_tables'][i]+"` not found";return false;
						}
					}
				}
			}
			for(var i=0;i<this.ak_record['allow_ips'].length;i++){
				if( this.ak_record['allow_ips'][i] == "*" ){
					if( this.ak_record['allow_ips'].length > 1 ){
						this.ak_add_error= "When all IPs allowed, single rule is required!";return false;
					}
				}else if( this.ak_record['allow_ips'][i].match( /^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\/(32|24|16)$/ ) == null ){
					this.ak_add_error= "IP address should be #.#.#.#/(32/24/16)";return false;
				}else{
					var m = this.ak_record['allow_ips'][i].match( /^([0-9]{1,3})\.([0-9]{1,3})\.([0-9]{1,3})\.([0-9]{1,3})\/(32|24|16)$/ );
					if( Number(m[1]) < 1 || Number(m[1]) > 255 ){
						this.ak_add_error= "Ip address should be #.#.#.#/(32/24/16). digit should be between 1-255";return false;
					}else if( Number(m[2]) < 1 || Number(m[2]) > 255 ){
						this.ak_add_error= "Ip address should be #.#.#.#/(32/24/16). digit should be between 1-255";return false;
					}else if( Number(m[3]) < 0 || Number(m[3]) > 255 ){
						this.ak_add_error= "Ip address should be #.#.#.#/(32/24/16). digit should be between 1-255";return false;
					}else if( Number(m[4]) < 0 || Number(m[4]) > 255 ){
						this.ak_add_error= "Ip address should be #.#.#.#/(32/24/16). digit should be between 1-255";return false;
					}
				}
			}
			if( typeof(this.ak_record['expire']) != "number" ){
				this.ak_add_error= "Expire timestamp should be number";return false;
			}else{
				var t = Number( this.ak_record['expire'] )*1000;
				t2 = new Date(t).getTime();
				t1 = new Date().getTime();
				if( t2 < t1 ){
					this.ak_add_error= "Expire timestamp should be future time";return false;
				}
			}
			this.ak_add_msg = "Saving...";
			axios.post("/admin/save_key", {
				"Item": this.ak_record,
				"expire_minits": this.expire_minits
			}).then(response=>{
				this.ak_add_msg = "";
				if( response.status == 200 ){
					if( typeof(response.data) == "object" ){
						if( "status" in response.data ){
							if( response.data['status'] == "success" ){
								this.load_access_keys();
								this.ak_add_msg = "Success!";
								setTimeout(this.hide_ak_add_msg, 10000);
							}else{
								this.ak_add_error = response.data['error'];
							}
						}else{
							this.ak_add_error = "Incorrect response!";
						}
					}else{
						this.ak_add_error = "Incorrect response!";
					}
				}else{
					this.ak_add_error = "Incorrect response!";
				}
			});
		},
		ak_add_del_policy: function(vi){
			if( this.ak_record['policies'].length > 1 ){
				this.ak_record['policies'].splice(vi,1);
			}else{
				alert("Need at least one policy!");
			}
		},
		ak_add_add_policy: function(){
			if( this.ak_record['policies'].length < 5 ){
				this.ak_record['policies'].push({
					"allow_ips": ["192.168.1.1/32"],
					"allow_actions": ["getItem"],
					"allow_tables": ["*"],
				});
			}else{
				alert("Too many policies!");
			}
		},
		ak_add_ip_add: function(){ 
			if( this.ak_record['allow_ips'].length < 20 ){
				this.ak_record['allow_ips'].push("192.168.1.1");
			}else{
				alert("Too many ips");
			}
		},
		ak_add_ip_delete: function(vi){ 
			if( this.ak_record['allow_ips'].length > 1 ){
				this.ak_record['allow_ips'].splice(vi,1);
			}else{
				alert("Need at least one ip condition. but it can be *")
			}
		},
		ak_add_table_add: function(pi){
			if( this.ak_record['policies'][pi]['allow_tables'].length < 20 ){
				this.ak_record['policies'][pi]['allow_tables'].push("*"); 
			}else{
				alert("Too many Tables");
			}
		},
		ak_add_table_delete: function(pi,vi){ 
			if( this.ak_record['policies'][pi]['allow_tables'].length > 1 ){
				this.ak_record['policies'][pi]['allow_tables'].splice(vi,1);
			}else{
				alert("Need at least one table. but it can be *")
			}
		},
		ak_record_timestamp: function(){
			var t = parseInt((new Date().getTime())/1000);
			t = t + (Number( this.expire_minits )*60);
			this.$set( this.ak_record, 'expire', t );
			var d = new Date(t*1000);
			this.expire_project = d.toString();
		},
		ak_record_expire_change: function(){
			setTimeout(this.ak_record_expire_change2,200);
		},
		ak_record_expire_change2: function(){
			var t = (Number(this.ak_record['expire'])*1000);
			var d = new Date(t);
			this.expire_project = d.toString();
		},
		hide_ak_add_msg: function(){
			this.ak_add_msg = "";
		},
		ak_edit_open: function(vi){
			this.ak_edit_vi = vi;
			this.ak_record = JSON.parse( JSON.stringify(this.ak_keys[vi]) );
			this.expire_minits = "";
			this.ak_record_expire_change2();
			this.ak_add_form = true;
		},
		ak_list_get_date: function(t){
			var t = Number(t)*1000;
			var d = new Date(t);
			var t2 = (new Date()).getTime();
			var dd = d.toISOString().substr(0,16).replace("T", " ");
			if( t < t2 ){
				dd = dd + "<BR><span class='text-danger' >Expired</span>";
			}
			return dd;
		},
		//----------------------------------------------------
		open_user: function(){
			this.access_keys = true;
			this.load_access_keys();
		},
		load_users: function(){
			this.user_error = "";
			this.user_msg = "Loading...";
			axios.post("/admin/load_users",{}).then(response=>{
				this.user_msg = "";
				if( response.status == 200 ){
					if( typeof(response.data) == "object" ){
						if( "status" in response.data ){
							if( response.data['status'] == "success" ){
								this.users = response.data['Items'];
							}else{
								this.user_error = response.data['error'];
							}
						}else{
							this.user_error = "Incorrect response!";
						}
					}else{
						this.user_error = "Incorrect response!";
					}
				}else{
					this.user_error = "Incorrect response!";
				}
			});
		},
		show_user_add: function(){
			this.user_add_form = true;
			this.user_record = {
				"sk": "",
				"password": "",
				"active": "y",
				"policies": [{
					"allow_actions": ["getItem"],
					"allow_tables": ["table1"],
				}],
				"policy_expire": 10,
				"pwdexpire": 2,
			};
		},
		user_add_policy_add: function(){
			if( this.user_record['policies'].length < 5 ){
				this.user_record['policies'].push({
					"allow_actions": ["getItem"],
					"allow_tables": ["table1"],
				});
			}else{
				alert("Too many policies!");
			}
		},
		user_add_policy_del: function(pi){
			if( this.user_record['policies'].length > 1 ){
				this.user_record['policies'].splice(pi,1);
			}else{
				alert("Need at least one policy!");
			}
		},
		user_save_record: function(){
			this.user_add_error = "";
			this.user_add_msg = "";
			if( this.user_record['sk'] == "" ){
				this.user_add_error= "Username is required!";return false;
			}else if( this.user_record['sk'].match(/^[a-z0-9\-\.\_]{3,50}$/i) == null ){
				this.user_add_error= "Username should be plain english!";return false;
			}
			for(var pi=0;pi<this.user_record['policies'].length;pi++){
				for(var i=0;i<this.user_record['policies'][pi]['allow_actions'].length;i++){
					if( this.user_record['policies'][pi]['allow_actions'][i] == "*" ){
						if( this.user_record['policies'][pi]['allow_actions'].length > 1 ){
							this.user_add_error= "Policy "+(pi+1)+": When all Actions allowed, single rule is required!";return false;
						}
					}else if( this.config_allow_actions.indexOf( this.user_record['policies'][pi]['allow_actions'][i] ) == -1 ){
						this.user_add_error= "Policy "+(pi+1)+": Action `"+this.user_record['policies'][pi]['allow_actions'][i]+"`not found";return false;
					}
				}
				for(var i=0;i<this.user_record['policies'][pi]['allow_tables'].length;i++){
					if( this.user_record['policies'][pi]['allow_tables'][i] == "*" ){
						if( this.user_record['policies'][pi]['allow_tables'].length > 1 ){
							this.user_add_error= "Policy "+(pi+1)+": When all Tables allowed, single rule is required!";return false;
						}
					}else if( this.user_record['policies'][pi]['allow_tables'][i].match( /^[a-z][a-z0-9\-\_]{3,50}$/ ) == null ){
						this.user_add_error= "Policy "+(pi+1)+": TableName sould be simple text";return false;
					}else{
						if( this.config_allow_tables.indexOf( this.user_record['policies'][pi]['allow_tables'][i] ) == -1 ){
							this.user_add_error= "Policy "+(pi+1)+": TableName `"+this.user_record['policies'][pi]['allow_tables'][i]+"` not found";return false;
						}
					}
				}
			}
			this.user_add_msg = "Saving...";
			axios.post("/admin/save_user", {
				"Item": this.user_record,
				"expire_minits": this.expire_minits
			}).then(response=>{
				this.user_add_msg = "";
				if( response.status == 200 ){
					if( typeof(response.data) == "object" ){
						if( "status" in response.data ){
							if( response.data['status'] == "success" ){
								this.load_users();
								this.user_add_msg = "Success!";
								setTimeout(this.hide_user_add_msg, 10000);
							}else{
								this.user_add_error = response.data['error'];
							}
						}else{
							this.user_add_error = "Incorrect response!";
						}
					}else{
						this.user_add_error = "Incorrect response!";
					}
				}else{
					this.user_add_error = "Incorrect response!";
				}
			});
		},
		user_add_table_add: function(pi){
			if( this.user_record['policies'][pi]['allow_tables'].length < 20 ){
				this.user_record['policies'][pi]['allow_tables'].push("*"); 
			}else{
				alert("Too many Tables");
			}
		},
		user_add_table_delete: function(pi,vi){
			if( this.user_record['policies'][pi]['allow_tables'].length > 1 ){
				this.user_record['policies'][pi]['allow_tables'].splice(vi,1);
			}else{
				alert("Need at least one table. but it can be *")
			}
		},
		hide_user_add_msg: function(){
			this.user_add_msg = "";
		},
		user_edit_open: function(vi){
			this.user_edit_vi = vi;
			this.user_record = JSON.parse( JSON.stringify(this.users[vi]) );
			this.user_add_form = true;
		},
		fetch_keys: function(){
			this.find_msg = "Fetching summary...";
			this.find_err = "";
			axios.post("/admin/fetch_keys", {
				"TableName": this.TableName,
				"query_index": this.find_keys_query_index,
			}).then(response=>{
				this.find_msg = "";
				if( response.status == 200 ){
					if( typeof(response.data) == "object" ){
						if( "status" in response.data ){
							if( response.data['status'] == "success" ){
								var k = response.data['keys'];
								for( var ke in k ){
									k[ke]['cnt'] = -1;
								}
								this.keys_summary = response.data['keys'];
								if( 'error' in response.data ){
									this.find_err = response.data['error'];
								}
							}else{
								this.find_err = response.data['error'];
							}
						}else{
							this.find_err = "Incorrect response!";
						}
					}else{
						this.find_err = "Incorrect response!";
					}
				}else{
					this.find_err = "Incorrect response!";
				}
			});
		},
		fetch_all_key_count: function(){
			this.find_msg = "Fetching key count upto 1000 read units...";
			this.find_err = '';
			axios.post("/admin/find_all_key_count", {
				"TableName": this.TableName,
				"Key": 'all',
				"query_index": this.find_keys_query_index,
			}).then(response=>{
				this.find_msg = "";
				if( response.status == 200 ){
					if( typeof(response.data) == "object" ){
						if( "status" in response.data ){
							if( response.data['status'] == "success" ){
								//this.$set( this.keys_summary[ response.data['key'] ], 'cnt', response.data['cnt'] );
								this.keys_summary = response.data['keys'];
								this.fetch_cnt = response.data['cnt'];
								this.fetch_units = response.data['units'];
								if( 'error' in response.data ){
									this.find_err = response.data['error'];
								}
							}else{
								this.find_err = response.data['error'];
							}
						}else{
							this.find_err = "Incorrect response!";
						}
					}else{
						this.find_err = "Incorrect response!";
					}
				}else{
					this.find_err = "Incorrect response!";
				}
			});
		},
		find_count_of_key: function(k){
			this.find_msg = "Fetching summary...";
			this.find_err = '';
			axios.post("/admin/find_key_count", {
				"TableName": this.TableName,
				"key": k,
				"query_index": this.find_keys_query_index,
			}).then(response=>{
				this.find_msg = "";
				if( response.status == 200 ){
					if( typeof(response.data) == "object" ){
						if( "status" in response.data ){
							if( response.data['status'] == "success" ){
								this.$set( this.keys_summary[ response.data['key'] ], 'cnt', response.data['cnt'] );
								this.fetch_cnt = response.data['cnt'];
								this.fetch_units = response.data['units'];
								if( 'error' in response.data ){
									this.find_err = response.data['error'];
								}
							}else{
								this.find_err = response.data['error'];
							}
						}else{
							this.find_err = "Incorrect response!";
						}
					}else{
						this.find_err = "Incorrect response!";
					}
				}else{
					this.find_err = "Incorrect response!";
				}
			});
		},
		start_bulk_delete: function(k){

			if( confirm("Are you sure?\n\nBulk delete deletes keys in batches 25 per call\nDeletes upto capacity units of 10000 or upto 30 seconds\nThis process continues until table keyspace becomes emtpy!\n\nWARNING: IT IS A SENSITIVE OPERATION")){
				this.fetch_cnt = 0;
				this.fetch_units = 0;
				this.bulk_delete_key = k+'';
				this.bulk_delete_allow = true;
				this.bulk_delete_msg = 'Starting bulk delete';
				this.bulk_delete();
			}

		},
		bulk_delete: function(){
			if( this.bulk_delete_allow ){
				this.find_msg = "Processing...";
				this.find_err = '';
				axios.post("/admin/bulk_delete_keys", {
					"TableName": this.TableName,
					"key": this.bulk_delete_key,
					"query_index": this.find_keys_query_index,
				}).then(response=>{
					this.find_msg = "";
					if( response.status == 200 ){
						if( typeof(response.data) == "object" ){
							if( "status" in response.data ){
								if( response.data['status'] == "success" ){
									this.fetch_cnt = this.fetch_cnt + Number(response.data['cnt']);
									this.fetch_units = this.fetch_units + Number(response.data['units']);
									this.bulk_delete_msg = "Deleted: " + this.fetch_cnt + "; Consumed Units: " + this.fetch_units + " so far";
									if( 'error' in response.data ){
										this.find_err = response.data['error'];
									}
									if( Number(response.data['cnt']) > 10 ){
										setTimeout( this.bulk_delete, 1000);
									}else{
										this.bulk_delete_allow = false;
									}
								}else{
									this.find_err = response.data['error'];
								}
							}else{
								this.find_err = "Incorrect response!";
							}
						}else{
							this.find_err = "Incorrect response!";
						}
					}else{
						this.find_err = "Incorrect response!";
					}
				});
			}else{
				this.find_msg = "Bulk delete stopped!";
			}
		},
		display_summary_tab: function(){
			this.summary_tool=true;
			this.find_keys_query_index = "main";
			this.keys_summary = {};
			this.find_err= "";this.find_msg= "";
			this.find_err= "";
			this.fetch_cnt= 0;
			this.fetch_units= 0;
			this.find_msg= "";
			this.find_err= "";
			this.bulk_delete_key= "";
			this.bulk_delete_allow= false;
			this.bulk_delete_msg= "";
		},
		echo__: function(v){
			if( typeof(v) == "object" ){
				console.log( JSON.stringify(v, null, 4) );
			}else{
				console.log( v );
			}
		}
	}
});
</script>
</div>
</body>
</html>